<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar Certificado</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="contenedor">

    <img src="/static/img/logo.png" class="logo" alt="Logo FEMP">

    <h1>Descargar Certificado</h1>

    <p class="subtitulo" style="text-align:center;">
        Ingrese el código y la fecha de finalización para descargar su certificado.
    </p>

    <hr>

    {% if error %}
        <p class="error" style="text-align:center;">{{ error }}</p>
    {% endif %}

   <form method="POST">

    <label>Nombre completo:</label>
    <input type="text" name="nombre" placeholder="Escriba su nombre completo" required>

    <label>Cédula:</label>
    <input type="text" name="cedula" placeholder="Ej: 402-7764673-7" required>

    <br><br>

    <div class="menu">
        <button type="submit">Buscar Certificado</button>
        <a href="/">Volver al inicio</a>
    </div>

</form>

    {% if certificado %}

        <hr>

        <h2>Certificado encontrado</h2>

        <table>
            <tr>
                <th>Nombre</th>
                <td>{{ certificado.nombre }}</td>
            </tr>
            <tr>
                <th>Curso</th>
                <td>{{ certificado.curso }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ certificado.fecha }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ certificado.codigo }}</td>
            </tr>
        </table>

        <div class="menu">
            <a href="/descargar-pdf/{{ certificado.codigo }}" class="btn">
                📥 Descargar Certificado PDF
            </a>
        </div>

    {% endif %}

</div>

</body>
</html>