<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEMP Certificados</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="hero">

    <!-- LOGO -->
    <img src="/static/img/logo.png" class="logo" alt="Logo FEMP">

    <!-- TITULO -->
    <h1>Sistema de Certificados</h1>

    <!-- SUBTITULO -->
    <p class="subtitulo">
        Fundación de Enfermeros Militares y Policía
    </p>

    <!-- LEMA -->
    <p class="frase">
        Capacitación • Certificación • Excelencia Profesional
    </p>

    <!-- LINEA -->
    <div class="linea"></div>

    <!-- BOTONES -->
    <div class="botones">

        
        <a href="/verificar" class="btn">
            🔍 Verificar Certificado
        </a>
        
        <a href="/descargar" class="btn">
    📥 Descargar Certificado
</a>

        <a href="/login" class="btn">
            👨‍💼 Administrador
        </a>

    </div>

</div>

</body>
</html>